<div class="login-container">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class=" mb-5">Your Profile</h1>
      <div class="col-md-6">
        <form action="/auth/edit/{{id}}" method="POST">

          <!-- Username input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="form2Example1">Username</label>
            <input type="text" id="form2Example1" class="form-control" name="username" value="{{username}}" required />
          </div>

          <!-- name input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="form2Example1">Your Name(s)</label>
            <input type="email" id="form2Example1" class="form-control" name="name" value="{{name}}" />
          </div>

          <!-- lastname input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="form2Example1">Your Lastname(s)</label>
            <input type="email" id="form2Example1" class="form-control" name="email" value="{{lastname}}" />
          </div>

          <!-- Email input -->
          <div class="form-outline mb-2">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" name="email" value="{{email}}" required />
          </div>
          <!-- Submit button -->
          <div class="row ps-2 pe-2">
            <button type="submit" class="btn btn-primary btn-block mb-2 mt-3">Edit Profile</button>
          </div>
      </div>

      <div class="col-md-6">
        <!-- Genre input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="form2Example1">Genre</label>
          <select class="form-select" name="genre">
            <option value=""></option>
            <option value="Man">Man</option>
            <option value="Woman">Woman</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <!-- Borndate input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="form2Example1">Your born date</label>
          <input class="form-select" type="date" id="start" name="borndate" min="1950-01-01" max="2023-01=01">
        </div>

        <!-- Linkedin input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="form2Example1">LinkedIn</label>
          <input type="email" id="form2Example1" class="form-control" name="email" value="{{email}}" required />
        </div>

        <!-- github input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="form2Example1">Github / Medium</label>
          <input type="email" id="form2Example1" class="form-control" name="email" value="{{email}}" required />
        </div>
        </form>
      </div>
    </div>
  </div>
</div>