<div class="margin-view">
    <div class="container">
        <div class="row">
            <div class="col mt-3 mb-5">
                <h1 class="text-white">Edit Job</h1>
                <hr>
                <form action="/jobs/{{_id}}/edit" method="POST">
                    <div class="mb-3 row flex-row">
                        <div class="col">
                            <div class="row">
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Job title</label>
                                    <input type="text" class="form-control" id="emailInput" name="jobTitle"
                                        value="{{jobTitle}}" required>
                                    <div class="text-required">Requerido.</div>
                                </div>
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Company</label>
                                    <input type="text" step="any" class="form-control" id="emailInput"
                                        name="employerName" value="{{employerName}}" required>
                                    <div class="text-required">Requerido.</div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Location</label>
                                    <input type="text" step="any" class="form-control" id="emailInput"
                                        name="locationName" value="{{locationName}}" required>
                                    <div class="text-required">Requerido.</div>
                                </div>
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Salary Type:</label>
                                    <input type="text" class="form-control" id="emailInput" name="salaryType"
                                        value="{{salaryType}}" required>
                                    <div class="text-required">Requerido.</div>
                                </div>
                            </div>

                            <div class="row pt-2">
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Minimun Salary</label>
                                    <input type="text" step="any" class="form-control" id="emailInput"
                                        name="minimunSalary" value="{{minimunSalary}}" required>
                                    <div class="text-required">Requerido.</div>

                                </div>
                                <div class="col-6">

                                    <label for="emailInput" class="form-label text-white">Maximun Salary</label>
                                    <input type="text" step="any" class="form-control" id="emailInput"
                                        name="maximunSalary" value="{{maximunSalary}}" required>
                                    <div class="text-required">Requerido.</div>

                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Currency</label>
                                    <select class="form-select" name="currency" value="{{currency}}" required>
                                        <option value="EUR">EUR</option>
                                        <option value="GBP">GBP</option>
                                        <option value="USD">USD</option>
                                    </select>
                                    <div class="text-required">Requerido.</div>
                                </div>
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Contract Type</label>
                                    <input type="text" class="form-control" id="emailInput" name="contractType"
                                        value="contractType" required>
                                    <div class="text-required">Requerido.</div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Full Time:</label>
                                    <select class="form-select" name="fullTime" value="{{fullTime}}" required>
                                        <option value="true">Yes</option>
                                        <option value="false" selected>No</option>
                                    </select>
                                    <div class="text-required">Requerido.</div>
                                </div>
                                <div class="col-6">
                                    <label for="emailInput" class="form-label text-white">Part Time:</label>
                                    <select class="form-select" name="partTime" value="{{partTime}}" required>
                                        <option value="true">Yes</option>
                                        <option value="false" selected>No</option>
                                    </select>
                                    <div class="text-required">Requerido.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3 row flex-column">
                                <div class="col">
                                    <label for="emailInput" class="form-label text-white">Description</label>
                                    <input type="text" class="form-control" id="emailInput" name="jobDescription"
                                        value="{{jobDescription}}" maxlength="5000" required></input>
                                    <div class="text-required">Requerido.</div>
                                </div>
                            </div>
                            <div class="mb-3 row flex-column">
                                <div class="col">
                                    <label for="emailInput" class="form-label text-white">Offer Link</label>
                                    <input type="text" class="form-control" id="emailInput" name="jobUrl"
                                        value="{{jobUrl}}" required>
                                    <div class="text-required">Your offer URL.</div>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary block">Update Offer Job</button>
                            </div>

                        </div>
                </form>
            </div>
        </div>
    </div>
</div>