<div class="container mx-auto pb-5">
    <div class="row mt-5 mb-5">
        <h1 class="pt-5 text-white">Jobs</h1>
        <h2 class="text-white">Promoted Jobs</h2>
        {{#each localJobs}}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 23rem;">
                {{!-- <img src="images/jobs.jpg" class="card-img-top"> --}}
                <div class="card-body">
                    <h3 class="card-title">{{jobTitle}}</h3>
                    <p class="card-text"><strong>Company</strong>: {{employerName}}</p>
                    <p class="card-text"><strong>Location</strong>: {{locationName}}</p>
                    <p class="card-text"><strong>Expiration</strong>: {{expirationDate}}</p>
                    <a href="/jobs/{{_id}}" class="btn btn-dark text-white"><i class="fas fa-link"></i>More
                        details</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{#each myJobs}}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 23rem;">
                {{!-- <img src="images/jobs.jpg" class="card-img-top"> --}}
                <div class="card-body">
                    <h3 class="card-title h6">{{jobTitle}}</h3>
                    <p class="card-text"><strong>Company</strong>: {{employerName}}</p>
                    <p class="card-text"><strong>Location</strong>: {{locationName}}</p>
                    <p class="card-text"><strong>Expiration</strong>: {{expirationDate}}</p>
                    <a href="/jobs/{{jobId}}" class="btn btn-dark text-white"><i class="fas fa-link"></i>More
                        details</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>